<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.systemsbiology.baliga.aqx1010" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/leaf_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".AqxWidgetProvider"
            android:label="AQX Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/aqx_widget_provider" />
        </receiver>

        <activity
            android:name=".MeasureLightActivity"
            android:label="@string/title_measure_light">
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
